* {
  margin: 0;
  padding: 0;
}

#footer
 {
    postion: relative;
    width: 100%;
    bottom: 0;
    height: 6em;
    background: #ffffff;
 }

#footer a {
    color: rgb(69, 69, 69) !important;
}

#footer a:hover {
    color: #efefef;
    text-decoration:none !important;
}

.dash-btns
{
    text-align:center;
}

.custom-btn
{
    display:inline-block;
    width:200px;
    height:60px;
    margin:10px;
}

html, body { height: 100%; }

#container {
  min-height: 100%;
  overflow:auto;
  padding-bottom: 150px;
}
