#footer
 { 
    postion: relative;
    width: 100%;
    clear: both; bottom: 0; height: 3em; margin-top: -3em; background: #f5f5f5;
 }
 

#footer a {
    color: rgb(69, 69, 69) !important; }
#footer a:hover {
    color: #efefef;
    text-decoration:none !important;
}
.dash-btns
{
    text-align:center;
}
.custom-btn
{
    display:inline-block;
    width:200px;
    height:60px;
    margin:10px;
}

html, body {height: 100%;}
#container {
min-height: 100%;
overflow:auto;
padding-bottom: 150px;
}
